.card {
    border-radius: 0;
    cursor: pointer;
    
}
.card,
.card-footer {
    background-color: #FFFFA5;
    border: none;
}
.card.completed, 
.card.completed .card-footer,
.card.completed i{
    background-color:#EEE ;
    color: #CCC;
}
.card-footer, .delete-task {
    text-align: right;
}
i {
    color: #CC0000;
    padding-right: .5rem;
}
i.fa-trash {
    color: Black;
    padding-right: .5rem;
    
}

